<div class="chatbot-float-icon">
    <img src="/images/chatbot-icon.png" alt="" />
</div>

<div class="form-container chatbot">
    <div class="form-box p-0 d-flex flex-column" style="width: 40rem; height: 45rem">
        <div class="d-flex justify-content-between">
            <div class="chatbot-header d-flex align-items-center gap-1">
                <div class="chatbot-image">
                    <img src="/images/chatbot-icon.png" alt="" />
                </div>
                <div class="chatbot-title">Một con bot</div>
            </div>
            <div class="close-chatbot">
                <i class="fa-solid fa-xmark"></i>
            </div>
        </div>

        <div class="chatbot-body d-flex flex-column justify-content-end flex-grow-1">
           <div class="chatbot-messages">
                <div class="chatbot-message from-bot">
                    <div class="chatbot-message-box">
                        <div class="chatbot-message-text">
                            <span>Xin chào, tôi có thể giúp được gì cho bạn!</span>
                        </div>
                    </div>
                </div>

           </div>
        </div>

        <div class="chatbot-footer">
            <form class="chatbot-input">
                <input type="text" placeholder="Nhập một câu hỏi..." />
                <button class="chatbot-send">
                    <i class="fa-solid fa-paper-plane"></i>
                </button>
            </form>
        </div>
    </div>
</div>