@{
    ViewData["Title"] = "Tổng quan - STech";
    ViewData["PageTitle"] = "Tổng quan";
}

<section class="page-wrapper">
    
    <div class="d-flex align-items-stretch flex-wrap gap-3">
        <div class="statistic-box">
            <span class="statistic-value">@NumberFormater.Format(2000f)</span>
            <span class="statistic-label">Tổng số sản phẩm</span>
            <span class="statistic-increase">+200</span>
        </div>
    </div>

</section>

@section Styles {
    <link rel="stylesheet" href="~/admin/css/dashboard.css" />
}

@section Scripts {
    <script src="~/admin/js/dashboard.js"></script>
}