:root {
    --loader-color: var(--loader-color-light);
    --loader-color-light: #fff;
    --loader-color-dark: #000;
}

.loader-box {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    background: transparent;
    border-radius: var(--radius);
    backdrop-filter: var(--blur);
}

.loader-container {
    --uib-color: var(--loader-color);
    --uib-speed: 2s;
    --uib-bg-opacity: 0;
    transform-origin: center;
    animation: rotate var(--uib-speed) linear infinite;
    will-change: transform;
    overflow: visible;
}

.car {
    fill: none;
    stroke: var(--uib-color);
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    animation: stretch calc(var(--uib-speed) * 0.75) ease-in-out infinite;
    will-change: stroke-dasharray, stroke-dashoffset;
    transition: stroke 0.5s ease;
}

.track {
    fill: none;
    stroke: var(--uib-color);
    opacity: var(--uib-bg-opacity);
    transition: stroke 0.5s ease;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes stretch {
    0% {
        stroke-dasharray: 0, 150;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 75, 150;
        stroke-dashoffset: -25;
    }

    100% {
        stroke-dashoffset: -100;
    }
}


/* -------------------------- */
.account-page {
    background: var(--content-color-white);
    border-radius: var(--radius);
    padding: 1.5rem;
}

.account-sidebar {
    background: var(--content-color-white);
    padding-right: 1rem;
}

    .account-sidebar * {
        font-size: 1.1rem;
    }

    .account-sidebar ul {
        list-style-type: none;
    }

    .account-sidebar a {
        padding: 0.5rem;
        margin-bottom: 0.2rem;
        text-decoration: inherit;
        color: var(--content-color-black);
        border-radius: var(--radius);
    }

        .account-sidebar a:hover,
        .account-sidebar a.active {
            background:var(--primary-color);
            color: var(--content-color-white);
        }

    .account-sidebar i {
        width: 2rem;
        display: grid;
        place-items: center;
        font-size: 1.3rem;
    }

.account-content-wrapper {
    border-left: 1px solid #ccc;
    height: 100%;
    padding-left: 2rem;
    position: relative;
}

.account-content {
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(0);
    visibility: hidden;
    opacity: 0;
}

.account-content.current {
    position: static;
    transform: scale(1);
    opacity: 1;
    visibility: visible;
    transition: opacity .5s ease;
}


.user-image {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    overflow: hidden;
}

.user-image img {
    width: 100%;
    object-fit: cover;
}

.click-change-image {
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: grid;
    place-items: center;
    overflow: hidden;
    background: #eaeaea;
    cursor: pointer;

    bottom: 0rem;
    right: -0.3rem;
}

    .click-change-image i {
        font-size: 1rem;
        color: #0652DD;
    }

.user-infomation .user-name {
    font-size: 1.3rem;
    font-weight: 500;
}

.user-infomation .user-fullname,
.user-infomation .user-email {
    color: #858585;
}

.upload-image .form-box {
    width: 30rem;
}

.preview-image-wrapper {
    display: none;
}

.preview-image-wrapper.show {
    display: flex;
}

#preview-image {
    width: 20rem;
    aspect-ratio: 1;
}

.drag-and-click-upload-image {
    border: 2px dashed #3FA2F6;
    border-radius: 0.5rem;
    color: #3FA2F6;
    width: 20rem;
    aspect-ratio: 1;
    cursor: pointer;
}

    .drag-and-click-upload-image.hide {
        display: none !important;
    }

    .drag-and-click-upload-image i {
        font-size: 2rem;
    }


    .drag-and-click-upload-image:hover,
    .drag-and-click-upload-image.active {
        border-color: #96C9F4;
        color: #96C9F4;
    }

#image-to-edit {
    max-width: 100%;
    max-height: 40rem;
}

.click-choose-image {
    font-size: 0.95rem;
    font-weight: 500;
    color: var(--content-color-white);
    margin-top: 0.4rem;
    padding: 0.4rem 0.7rem;
    border-radius: 0.2rem;
    background: #3FA2F6;
    border: none;

}

.add-address .form-box {
    width: 35rem;
}