.search-value {
    padding-top: 1rem;
}

.search-value h3 {
    font-size: 1.1rem;
    font-weight: 600;
}

.search-value h3 span {
    font-size: 1.1rem;
    font-weight: normal;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 0.3rem;
}

.search-error {
    padding: 1rem 0;
}

.error-search-image img {
    width: 50%;
}

.error-search-message {
    margin-top: 1.5rem;
    row-gap: 0.6rem;
}

.form-search-error {
    column-gap: 0.3rem;
}

.input-search-error {
    outline: none;
    width: 25rem;
    padding: 0.6rem 1rem;
    border: 1px solid #000000;
    border-radius: 0.2rem;
}

    .input-search-error:focus {
        outline: 2px solid #000000;
    }

.submit-search-error {
    border: none;
    border-radius: 0.2rem;
    background: #000000;
    padding: 0 1rem;
    color: #ffffff;
}

.sort-dropdown {
    position: relative;
}

.sort-dropdown-content {
    position: absolute;
    top: calc(100% + 5px);
    right: 0;
    z-index: 5;
    border-radius: var(--radius);
    background: #fff;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
    box-shadow: var(--box-shadow);
    overflow: hidden;
}

.sort-dropdown-content.showDropdown {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    transition: opacity .5s ease;
}

.sort-dropdown-content a {
    text-decoration: none;
    color: #000000;
}

.sort-dropdown-content-item {
    padding: 0.4rem 1rem;
    cursor: pointer;
}

.sort-dropdown-content-item.active {
    font-weight: bold;
}

.sort-dropdown-content-item:hover {
    background: #e7f2ff;
}

.sort-dropdown-btn {
    border: 1px solid #c5c5c5;
    padding: 0.3rem 0.8rem;
    border-radius: 0.2rem;
    background: none;
    white-space: nowrap;
}

.sort-dropdown-btn:hover {
    outline: 1px solid #000000;
}

.sort-dropdown-btn i {
    margin-right: 0.4rem;
}

#sort-value {
    font-weight: 600;
}

.sort-dropdown:has(.sort-dropdown-content.showDropdown) .sort-dropdown-btn {
    border-color: #000000;
}

.filter-item {
    position: relative;
}

.filter-button, .filter-checkbox label {
    border-radius: var(--radius);
    border: 1px solid var(--border-color);
    background: none;
    padding: .5rem .7rem;
    font-weight: 500;
    white-space: nowrap;
    cursor: pointer;
    display: flex;
    gap: .5rem;
    align-items: center;
}

.filter-button:hover, .filter-button.active,
.filter-checkbox label:hover, .filter-checkbox input:checked+label {
    border-color: var(--primary-color);
    color: var(--primary-color);
}

.filter-content {
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    box-shadow: var(--box-shadow);
    border-radius: var(--radius);
    background: #fff;
    padding: 1rem;
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
    z-index: 5;
    
    min-width: 100%;
    width: 30rem;
}

.filter-content.show {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    transition: opacity .5s ease;
}

.filter-item:has(.filter-content.show) .filter-button {
    border-color: var(--primary-color);
}

.filter-item:has(.filter-checkbox-list input:checked) .filter-button {
    border-color: var(--primary-color);
    color: var(--primary-color);
}

.filter-checkbox-list {
    width: 100%;
    display: flex;
    gap: .6rem;
    flex-wrap: wrap;
    max-height: 20rem;
    overflow: hidden;
    overflow-y: auto;
}

.filter-checkbox-list::-webkit-scrollbar {
    width: 3px;
    background-color: #f4f4f4;
}

.filter-checkbox-list::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 6px;
}

.filter-checkbox-list::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.filter-checkbox-list::-webkit-scrollbar-track {
    background-color: #e0e0e0;
}

.filter-action {
    display: flex;
    justify-content: center;
    gap: .7rem;
    margin-top: 1rem;
    padding-top: .7rem;
    border-top: 1px solid var(--border-color);
}


.filter-action-btn {
    padding: .4rem .5rem;
    width: 9rem;
    border-radius: var(--radius);
    background: none;
    border: 1px solid var(--border-color);
    cursor: pointer;
    font-weight: 500;
}

.filter-action-clear {
    border-color: #E30019C7;
    color: #E30019C7;
}

.filter-action-submit {
    border-color: #2485f6;
    color: #fff;
    background: #2485f6;
}

.breadcrumb {
    width: 100%;
    margin: 0.2rem 0;
}

.breadcrumb-list {
    list-style-type: none;
    padding: 0; 
    flex-wrap: nowrap;
    white-space: nowrap;
}

.breadcrumb-item, .breadcrumb-item span, .breadcrumb-item a {
    font-size: 1.1rem;
}

.breadcrumb-item+.breadcrumb-item::before {
    float: none;
    padding: 0 0.3rem;
}

.breadcrumb-item a {
    text-decoration: none;
}


.pagination-box {
    margin: 2rem 0 1rem 0;
    column-gap: 0.4rem;
}

.pagination-btn, .pagination-item {
    width: 2rem;
    aspect-ratio: 1;
    display: grid;
    place-items: center;
    background: none;
    border-radius: 0.2rem;
    border: 1px solid #b2b2b2;
}

.pagination-btn:hover, .pagination-item:hover {
    border: 1px solid #1541f5;
}

.pagination-icon {
    width: 70%;
}

.pagination {
    column-gap: 0.4rem;
}

.pagination-item.active {
    border: 1px solid #1541f5;
}

.pagination-item.active a {
    color: #1541f5;
}

.pagination-item a {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    text-decoration: none;
    color: #000000;
}

.pagination-item:hover a {
    color: #1541f5;
}

/*---Responsive --------------------------------------------------------------*/
/* For mobile (width < 768px) ---------------------------------------------*/
@media screen and (max-width: 767px) {
    .product-list {
        grid-template-columns: repeat(2, 1fr);
    }

    .search-error {
        width: 100%;
    }

    .input-search-error {
        width: 100%;
    }

    .submit-search-error {
        padding: 0 1rem;
    }

    .breadcrumb {
        overflow-x: scroll;
    }

    .filter-box {
        padding: 0;
    }

    .filter-btn:not(:first-child) {
        display: none !important;
    }

    .filter-contents {
        max-width: 85vw;
    }
}

/* For tablet (767 < width < 1024px) ---------------------------------------------*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .product-list {
        grid-template-columns: repeat(4, 1fr);
    }
}