@model Product

@{
    ViewData["Title"] = $"Chi tiết sản phẩm - {Model.ProductId}";
    ViewData["PageTitle"] = "Chi tiết sản phẩm";
}

<section class="page-wrapper">

</section>

@section Styles {
    <link type="text/css" rel="stylesheet" href="~/admin/css/product.css" />
}

@section Scripts {
    <script type="text/javascript" src="~/admin/js/product.js"></script>
}
