<div class="sidebar px-3 h-100 d-flex flex-column">

    <div class="logo-wrapper w-100 pt-4 pb-5">
        <img src="~/admin/images/logo/stech-logo-text-color.png" />
    </div>

    <div class="sidebar-main flex-grow-1 overflow-y-auto">
        <ul class="p-0">
            <li>
                <div class="sidebar-item active">
                    <a class="sidebar-link active" href="javascript:void(0)">
                        <i class="sidebar-icon fa-solid fa-house"></i>
                        <span class="sidebar-text">Tổng quan</span>
                    </a>
                </div>
            </li>
            <li>
                <div class="sidebar-item">
                    <a class="sidebar-link" href="javascript:void(0)">
                        <i class="sidebar-icon fa-solid fa-cart-flatbed"></i>
                        <span class="sidebar-text">Đơn hàng</span>
                    </a>
                    <i class="sidebar-arrow fa-solid fa-chevron-right"></i>
                </div>
                <div class="sidebar-expandation">
                    <ul>
                        <li>
                            <a href="javascript:void(0)">Mới nhất</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">Chờ xác nhận</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">Chờ giao hàng</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">Đã giao hàng</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">Đã hủy</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="sidebar-item">
                    <a class="sidebar-link" href="javascript:void(0)">
                        <i class="sidebar-icon fa-solid fa-users"></i>
                        <span class="sidebar-text">Khách hàng</span>
                    </a>
                </div>
            </li>
            <li>
                <div class="sidebar-item">
                    <a class="sidebar-link" href="javascript:void(0)">
                        <i class="sidebar-icon fa-solid fa-boxes-packing"></i>
                        <span class="sidebar-text">Sản phẩm</span>
                    </a>
                    <i class="sidebar-arrow fa-solid fa-chevron-right"></i>
                </div>
            </li>
            <li>
                <div class="sidebar-item">
                    <a class="sidebar-link" href="javascript:void(0)">
                        <i class="sidebar-icon fa-solid fa-table-list"></i>
                        <span class="sidebar-text">Danh mục/Hãng</span>
                    </a>
                    <i class="sidebar-arrow fa-solid fa-chevron-right"></i>
                </div>
            </li>
            <li>
                <div class="sidebar-item">
                    <a class="sidebar-link" href="javascript:void(0)">
                        <i class="sidebar-icon fa-solid fa-tags"></i>
                        <span class="sidebar-text">Khuyến mãi</span>
                    </a>
                    <i class="sidebar-arrow fa-solid fa-chevron-right"></i>
                </div>
            </li>
            <li>
                <div class="sidebar-item">
                    <a class="sidebar-link" href="javascript:void(0)">
                        <i class="sidebar-icon fa-solid fa-users-gear"></i>
                        <span class="sidebar-text">Nhân viên</span>
                    </a>
                </div>
            </li>
            <li>
                <div class="sidebar-item">
                    <a class="sidebar-link" href="javascript:void(0)">
                        <i class="sidebar-icon fa-solid fa-chart-bar"></i>
                        <span class="sidebar-text">Báo cáo</span>
                    </a>
                </div>
            </li>
            <li>
                <div class="sidebar-item">
                    <a class="sidebar-link" href="javascript:void(0)">
                        <i class="sidebar-icon fa-solid fa-ellipsis"></i>
                        <span class="sidebar-text">Khác</span>
                    </a>
                    <i class="sidebar-arrow fa-solid fa-chevron-right"></i>
                </div>
            </li>
        </ul>
    </div>

    <div class="sidebar-bottom d-flex align-items-center py-3">
        <a class="sidebar-logout" href="javascript:void(0)">
            <i class="fa-solid fa-arrow-right-from-bracket me-2"></i>
            <span>Đăng xuất</span>
        </a>
    </div>
</div>